<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.INTERNET" />

  <queries>
    <intent>
      <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
    </intent>
    <package android:name="com.spotify.music" />
  </queries>

  <application>
    <service
      android:name="expo.modules.spotifywatcher.SpotifyWatcherService"
      android:exported="false"
      android:foregroundServiceType="specialUse">
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="Luistert mee met Spotify (nummerwissels) om te leren welke nummers je skipt" />
    </service>
  </application>
</manifest>
